//@import "compass/reset";
@mixin common_space{
  margin:auto !important;
  max-width:90%;
  min-width:640px;
}
@mixin offsetVertical($offset:10px){
  padding-top:$offset;
  padding-bottom:$offset;
}

html, body{
  height:100%;
  margin:0;
  padding:0;
}
#nav,
div[role="main"],
#footer{
  @include common_space;
}
#container *{
  box-sizing:border-box;
}
section{
  @include offsetVertical;
}
nav{
  margin:auto -10px;
  padding:10px;
}
footer{
  background-color:#efefef;
}
#footer{
  height:60px;
  line-height:60px;
  padding:0 10px;
}
#main{
  min-height:100%;
  margin-bottom:-60px;
  padding:0 10px 60px;
}
nav{
  background-color: #eaebec;
}

