@import "compass";
/* mixins */
@mixin border($style:solid, $width:1px, $color:#ccc){
  border: $style $width $color;
}
@mixin common_space{
  margin:auto !important;
  max-width: 1000px;
  min-width: 640px;
  width: 100%;
}
@mixin common_label{
  display: inline-block;
  overflow: hidden;
  margin:0 4px 0 auto;
  padding: 4px;
  white-space: nowrap;
  &.checked{
    background-color: #fff;
    box-shadow: 0 0 4px #999;
  }
}
@mixin offsetVertical($offset:10px){
  padding-top:$offset;
  padding-bottom:$offset;
}
@mixin padding($padding:10px){
  padding:$padding;
}
/* classes */
.alert{
  background-color: rgb(255, 218, 218);
  @include border-radius(6px);
  display: inline-block;
  @include padding;
}
article{
  border: solid 3px #eaebec;
  line-height: 1.25em;
  padding: 10px;
  margin-top: 10px;
  .date{
    margin: 0;
  }
  &.admin{
    margin-bottom: 10px;
    position: relative;
    h4{
      margin-top: -8px;
    }
    [role="cities_list"]{
      margin: 10px auto;
    }
  }
}
.bg-lightskyblue{
  background-color: lightskyblue;
}
.color-grey{
  color: grey;
}
.color-red{
  color: red;
}
.date{
  margin: 10px 0 -2px 0;
}
.clearfix{
  @include clearfix;
}
.floatLeft{
  float: left;
}
.link_all_news{
  background-color: rgb(183, 224, 250);
  display: inline-block;
  margin: 4px 0 20px;
  padding: 10px;
  text-decoration: none;
}
.marginRight10{
  margin-right: 10px;
}
.padding10{
  @include padding;
}
.singleH4{
  background-color: lightgoldenrodyellow;
  font-size: 1.2em;
  margin: 18px 0px -6px;
  @include padding;
}
.width100{
  width: 100% !important;
}
/* styles */
html, body{
  height:100%;
  font-family: Arial, sans-serif;
  margin:0;
  padding:0;
}
*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
.btn_top_right{
  float: right;
  margin: -8px 19px auto;
  padding: 4px 10px;
}
button, input[type="submit"], input[type="reset"]{
  @include padding;
}
.close{
  background-color: lightcoral;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  float: right;
  height: 21px;
  text-align: center;
  width: 21px;
}
#container {
  height: 100%;
}
fieldset{
  @include border(solid,2px);
}
footer{
  background-color:#efefef;
}
#footer{
  height:60px;
  line-height:60px;
}
#footer,
#nav,
div[role="main"]
{
  @include common_space;
}
#filter_news{
  padding-top: 8px;
}
#form_add_news{
  position: relative;
  button, input[type="reset"]{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  button{
    clear: both;
    font-weight: bold;
    margin-right: 10px;
  }
}
h1, h2, h3, h4{
  padding: 10px 0;
}
#img-edit-header{
  margin: 6px 2px -6px 0;
}
#img-edit-text{
  margin: 6px 2px -2px 0;
}
legend{
  @include border;
}
nav{
  background-color: #eaebec;
  margin:auto -10px;
  @include padding;
}
#main{
   min-height:100%;
   margin-bottom:-60px;
   padding:0 10px 60px;
 }
[role="form_elements"]{
  padding-right: 20px;
  width: 55%;
  input,textarea{
    display: block;
    font-size: 1.1em;
    padding: 4px 6px;
    width: 100%;
  }
  textarea{
    font-size: 18px;
    margin-top: 10px;
    min-height: 500px;
    height: 100%;
  }
}
[role="cities_list"]{
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  padding-left: 4px;
  position: absolute;
  right: 0;
  top:0;
  width: 45%;
  label{
    //width: 97px;
    @include common_label;
  }
}
[role="edit"]{
  opacity: 0.6;
  &:hover{
    cursor: pointer;
    opacity: 1;
  }
}
section{
  @include offsetVertical;
}
#cities_filter{
  height: 140px;
  overflow: auto;
  margin-bottom: 12px;
  margin-top: 10px;
  padding: 0;
  label{
    width: 148px;
    @include common_label;
  }
  legend{
    background-color: #efefef;
    padding: 6px 10px;
  }
}
  #div-cities{
    background-color: #ddd;
    padding: 8px;
  }
nav, fieldset, legend div{
  @include padding;
}
table{
  td{
    padding: 2px 4px;
    div{
      height: 19px;
      overflow: hidden;
      padding: 0;
    }
  }
}
th{
  background-color: lavender;
  @include padding;
}

