/* mixins */
/* classes */
/* line 31, ../sass/screen.scss */
.alert {
  background-color: #ffdada;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  padding: 10px;
}

/* line 37, ../sass/screen.scss */
article {
  border: solid 3px #eaebec;
  line-height: 1.25em;
  padding: 10px;
  margin-top: 10px;
}
/* line 42, ../sass/screen.scss */
article .date {
  margin: 0;
}
/* line 45, ../sass/screen.scss */
article.admin {
  margin-bottom: 10px;
}
/* line 47, ../sass/screen.scss */
article.admin h4 {
  margin-top: -8px;
}

/* line 52, ../sass/screen.scss */
.bg-lightskyblue {
  background-color: lightskyblue;
}

/* line 55, ../sass/screen.scss */
.color-grey {
  color: grey;
}

/* line 58, ../sass/screen.scss */
.color-red {
  color: red;
}

/* line 61, ../sass/screen.scss */
.date {
  margin: 10px 0 -2px 0;
}

/* line 64, ../sass/screen.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 67, ../sass/screen.scss */
.floatLeft {
  float: left;
}

/* line 70, ../sass/screen.scss */
.link_all_news {
  background-color: #b7e0fa;
  display: inline-block;
  margin: 4px 0 20px;
  padding: 10px;
  text-decoration: none;
}

/* line 77, ../sass/screen.scss */
.marginRight10 {
  margin-right: 10px;
}

/* line 80, ../sass/screen.scss */
.padding10 {
  padding: 10px;
}

/* line 83, ../sass/screen.scss */
.singleH4 {
  background-color: lightgoldenrodyellow;
  font-size: 1.2em;
  margin: 18px 0px -6px;
  padding: 10px;
}

/* line 89, ../sass/screen.scss */
.width100 {
  width: 100% !important;
}

/* styles */
/* line 93, ../sass/screen.scss */
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 99, ../sass/screen.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 104, ../sass/screen.scss */
.btn_top_right {
  float: right;
  margin: -2px 19px auto;
  padding: 4px 10px;
}

/* line 109, ../sass/screen.scss */
button, input[type="submit"], input[type="reset"] {
  padding: 10px;
}

/* line 112, ../sass/screen.scss */
#container {
  height: 100%;
}

/* line 115, ../sass/screen.scss */
fieldset {
  border: solid 2px #cccccc;
}

/* line 118, ../sass/screen.scss */
footer {
  background-color: #efefef;
}

/* line 121, ../sass/screen.scss */
#footer {
  height: 60px;
  line-height: 60px;
}

/* line 128, ../sass/screen.scss */
#footer,
#nav,
div[role="main"] {
  margin: auto !important;
  max-width: 1000px;
  min-width: 640px;
  width: 100%;
}

/* line 131, ../sass/screen.scss */
#form_add_news {
  position: relative;
}
/* line 133, ../sass/screen.scss */
#form_add_news [role="form_elements"] {
  padding-right: 20px;
  width: 55%;
}
/* line 136, ../sass/screen.scss */
#form_add_news [role="form_elements"] input, #form_add_news [role="form_elements"] textarea {
  display: block;
  font-size: 1.1em;
  padding: 4px 6px;
  width: 100%;
}
/* line 142, ../sass/screen.scss */
#form_add_news [role="form_elements"] textarea {
  font-size: 18px;
  margin-top: 10px;
  min-height: 500px;
  height: 100%;
}
/* line 149, ../sass/screen.scss */
#form_add_news [role="cities_list"] {
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  padding-left: 4px;
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
}
/* line 158, ../sass/screen.scss */
#form_add_news [role="cities_list"] label {
  display: inline-block;
  overflow: hidden;
  margin: 0 4px 0 auto;
  padding: 4px;
  white-space: nowrap;
}
/* line 18, ../sass/screen.scss */
#form_add_news [role="cities_list"] label.checked {
  background-color: #fff;
  box-shadow: 0 0 4px #999;
}
/* line 163, ../sass/screen.scss */
#form_add_news button, #form_add_news input[type="reset"] {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 167, ../sass/screen.scss */
#form_add_news button {
  clear: both;
  font-weight: bold;
  margin-right: 10px;
}

/* line 174, ../sass/screen.scss */
h1, h2, h3, h4 {
  padding: 10px 0;
}

/* line 177, ../sass/screen.scss */
legend {
  border: solid 1px #cccccc;
}

/* line 180, ../sass/screen.scss */
nav {
  background-color: #eaebec;
  margin: auto -10px;
  padding: 10px;
}

/* line 185, ../sass/screen.scss */
#main {
  min-height: 100%;
  margin-bottom: -60px;
  padding: 0 10px 60px;
}

/* line 190, ../sass/screen.scss */
section {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 193, ../sass/screen.scss */
#cities_filter {
  height: 140px;
  overflow: auto;
  margin-bottom: 12px;
  margin-top: 10px;
  padding: 0;
}
/* line 199, ../sass/screen.scss */
#cities_filter label {
  width: 148px;
  display: inline-block;
  overflow: hidden;
  margin: 0 4px 0 auto;
  padding: 4px;
  white-space: nowrap;
}
/* line 18, ../sass/screen.scss */
#cities_filter label.checked {
  background-color: #fff;
  box-shadow: 0 0 4px #999;
}
/* line 203, ../sass/screen.scss */
#cities_filter legend {
  background-color: #efefef;
  padding: 6px 10px;
}

/* line 208, ../sass/screen.scss */
#div-cities {
  background-color: #ddd;
  padding: 8px;
}

/* line 212, ../sass/screen.scss */
nav, fieldset, legend div {
  padding: 10px;
}

/* line 216, ../sass/screen.scss */
table td {
  padding: 2px 4px;
}
/* line 218, ../sass/screen.scss */
table td div {
  height: 19px;
  overflow: hidden;
  padding: 0;
}

/* line 225, ../sass/screen.scss */
th {
  background-color: lavender;
  padding: 10px;
}
