/* line 12, ../sass/screen.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/screen.scss */
#nav,
div[role="main"],
#footer {
  margin: auto !important;
  max-width: 90%;
  min-width: 640px;
}

/* line 22, ../sass/screen.scss */
#container * {
  box-sizing: border-box;
}

/* line 25, ../sass/screen.scss */
section {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 28, ../sass/screen.scss */
nav {
  margin: auto -10px;
  padding: 10px;
}

/* line 32, ../sass/screen.scss */
footer {
  background-color: #efefef;
}

/* line 35, ../sass/screen.scss */
#footer {
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

/* line 40, ../sass/screen.scss */
#main {
  min-height: 100%;
  margin-bottom: -60px;
  padding: 0 10px 60px;
}

/* line 45, ../sass/screen.scss */
nav {
  background-color: #eaebec;
}
